
.App-header {
  background-color: #f7f8fb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center ;
  font-size: calc(10px + 2vmin);
  color: rgb(174, 39, 39);
}
.App-body{
height: 50px ;
  
}

